* {
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  row-gap: 10px;
  grid-template-areas:
    "nav nav nav nav nav"
    "nav nav nav nav nav"
    "body body body sidebar sidebar"
    "body body body sidebar sidebar"
    "body body body sidebar sidebar"
    "body body body sidebar sidebar"
    "body body body sidebar sidebar"
    "body body body sidebar sidebar"
    "body body body sidebar sidebar"
    "body body body sidebar sidebar"
    "body body body sidebar sidebar"
    "footer footer footer footer footer"
  ;
}

#nav {
  border: 10px solid black;
  grid-area: nav;
  text-align: center;
}

.caja-nav-superior {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: tomato;
  border: 10px solid darkslategrey;
}

.caja-nav-superior--grande {
}

.caja-nav-superior--pequeña {
}


#nav-inferior {}

.caja-inferior {
  background-color: yellow;
  border: 10px solid darkorange;
}


#body {
  background-color: gray;
  border: 10px solid black;
  grid-area: body;
}

#sidebar {
  background-color: crimson;
  grid-area: sidebar;
  border-top: 10px solid black;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
  text-align: center;
}

#footer {
  background-color: yellow;
  border: 10px solid black;
  grid-area: footer;
}

.articles {}

.article {
  background-color: midnightblue;
}

.article:last-child {
  background-color: skyblue;
}

.side-articles {}

.side-article {
  background-color: yellow;
}
